* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

:root {
  --primary-color: #1c1e23;
  --secondary-color: #5dc9bf;
  --white: #fff;
  --transition: 0.6s;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat";
  user-select: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--white);
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

button {
  background-color: var(--primary-color);
  color: var(--white);
  padding: 10px 15px;
  font-weight: 700;
  font-size: 20px;
  opacity: 0;
  transition: var(--transition);
  cursor: pointer;
  border: 0;
  outline: 0;
  border-radius: 8px;
}

button {
  opacity: 1;
}

button:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.heading {
  text-align: center;
  font-size: 45px;
  font-weight: 700;
  color: #000000c9;
  text-transform: uppercase;
  position: relative;
  line-height: 1.6;
}

.heading::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 7px;
  background-color: #000;
  bottom: -15px;
  left: 0;
}

@media (max-width: 1200px) {
  .heading {
    font-size: 38px;
  }
}

@media (max-width: 992px) {
  .heading {
    font-size: 28px;
  }
}

@media (max-width: 768px) {
  .heading {
    font-size: 20px;
  }
}

.customer-service {
  background-color: var(--secondary-color);
}

.customer-service .container,
.customer-service .container .login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.customer-service .container .social a {
  color: var(--primary-color);
  margin: 0 4px;
  transition: var(--transition);
}

.customer-service .container .social a:hover {
  color: var(--white);
}

.customer-service .container .login span {
  margin: 0 10px;
  padding: 10px 0;
}

.customer-service .container .login span:first-of-type i,
.customer-service .container .login span:first-of-type a {
  margin-right: 5px;
  transition: var(--transition);
  color: var(--primary-color);
  cursor: pointer;
}

.customer-service .container .login span:first-of-type:hover i,
.customer-service .container .login span:first-of-type:hover a {
  color: var(--white);
}

.customer-service .container .login span:last-of-type {
  padding: 10px 20px;
  cursor: pointer;
  transition: var(--transition);
}

.customer-service .container .login span:last-of-type:hover {
  background-color: var(--white);
}

.customer-service .container .login .state {
  position: absolute;
  background-color: var(--white);
  width: 200px;
  right: 10px;
  text-align: center;
  padding: 20px;
  bottom: -58.38px;
  z-index: -1;
  opacity: 0;
  transition: var(--transition);
}

.customer-service .container .login span:last-of-type:hover .state {
  z-index: 1;
  opacity: 1;
}

@media (max-width: 576px) {
  .customer-service {
    display: none;
  }
}

.menu {
  background-color: var(--primary-color);
  position: relative;
}

.menu .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu .container .image {
  width: 80px;
}

.menu .container .image a {
  display: block;
}

.menu .container .image img {
  width: 100%;
}

.menu .container .links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.menu .container .links > li {
  padding: 25px 0px;
  transition: all var(--transition) ease-in-out;
}

.menu .container .links > li > a {
  padding: 15px 10px;
  transition: var(--transition);
  position: relative;
  border-radius: 8px 8px 0 0;
  overflow: hidden;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.menu .container .links > li > a:hover {
  background-color: #131314;
}

.menu .container .links > li > a .effect {
  position: absolute;
  width: 0%;
  height: 1px;
  background-color: white;
  left: 0;
  bottom: 0;
  transition: var(--transition);
}

.menu .container .links > li > a:hover .effect {
  width: 100%;
}

.menu .container .links > li > a i {
  margin-left: 10px;
}

.menu .container .links > li .contain {
  position: absolute;
  background-color: #000000d6;
  width: 100%;
  height: 0px;
  left: 0;
  top: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  opacity: 0;
  transition: all var(--transition) ease-in-out;
  overflow: hidden;
  z-index: 1;
}

.menu .container .links > li .contain .content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 5%;
  width: 100%;
  padding: 20px 0;
  transition: all var(--transition) ease-in-out;
}

.menu .container .links > li .contain .content h4 {
  color: var(--white);
  transition: var(--transition);
  font-size: 20px;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.menu .container .links > li .contain .content > div:hover h4 {
  color: var(--secondary-color);
}

.menu .container .links > li .contain .content a {
  color: #ffffff9e;
  transition: var(--transition);
  font-size: 16px;
  margin: 10px 0;
  display: block;
  font-weight: 500;
  text-transform: uppercase;
}

.menu .container .links > li .contain .content a:hover {
  color: var(--white);
}

.menu .container .links > li.sports .contain .content .drop-down {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10%;
}

.menu .container .search i {
  color: var(--white);
  cursor: pointer;
  font-size: 20px;
}

@media (min-width: 992px) {
  .menu .container .toggle-menu {
    display: none;
  }

  .menu .container .links > li:hover .contain {
    height: fit-content;
    opacity: 1;
  }

  .menu .container .links > li .contain .content h4 i {
    display: none;
  }
}

@media (max-width: 1200px) {
  .menu .container .links > li > a {
    padding: 15px 13px;
    font-size: 18px;
  }
}

@media (max-width: 992px) {
  .menu .container .image {
    width: 100px;
  }

  .menu .container .links {
    flex-direction: column;
    position: absolute;
    width: 100%;
    left: 0;
    top: 70px;
    background-color: #000000d6;
    z-index: -1;
    opacity: 0;
    text-align: left;
    transition: var(--transition);
  }

  .menu .container .links.show {
    z-index: 9;
    opacity: 1;
  }

  .menu .container .links > li,
  .menu .container .links > li > a {
    width: 100%;
    display: block;
    padding: 8px 20px;
  }

  .menu .container .links > li > a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0;
    font-size: 20px;
  }

  .menu .container .links > li:hover a {
    color: var(--secondary-color);
  }

  .menu .container .links > li > a:hover {
    background-color: #5dc9bf21;
  }

  .menu .container .links > li > a .effect {
    display: none;
  }

  .menu .container .links > li .contain {
    position: relative;
    opacity: 0;
    background-color: transparent;
    transition: all var(--transition) ease-in-out;
    height: 0px;
    overflow: hidden;
  }

  .menu .container .links > li .contain.extend {
    height: fit-content;
    opacity: 1;
  }

  .menu .container .links > li .contain .content {
    flex-direction: column;
    padding: 0;
  }

  .menu .container .links > li .contain .content > div {
    width: 100%;
    padding: 10px 20px 10px 30px;
  }

  .menu .container .links > li .contain .content > div h4 {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffffe0;
    cursor: pointer;
    font-weight: 500;
    font-size: 18px;
  }

  .menu .container .links > li .contain .content .sub-ul {
    padding-left: 20px;
    transition: all var(--transition) ease-in-out;
    height: 0px;
    opacity: 0;
    overflow: hidden;
  }

  .menu .container .links > li .contain .content .sub-ul.extend {
    height: fit-content;
    opacity: 1;
  }

  .menu .container .search i,
  .menu .container .toggle-menu i {
    color: var(--white);
    font-size: 30px;
    cursor: pointer;
    transition: var(--transition);
  }

  .menu .container .toggle-menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu .container .toggle-menu i:last-of-type {
    position: absolute;
    opacity: 0;
  }

  .menu .container .toggle-menu i:last-of-type.show {
    opacity: 1;
  }

  .menu .container .toggle-menu i:first-of-type.hide {
    opacity: 0;
  }
}

.path {
  padding: 20px 0;
}

.path a {
  font-size: 12px;
  color: var(--primary-color);
  font-weight: 800;
}

.path a span.home {
  color: #00000052;
}

.search-icon {
  position: fixed;
  width: 50vw;
  height: 50vh;
  background-color: #000000b8;
  border-radius: 10px;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: var(--transition);
}

@media (max-width: 768px) {
  .search-icon {
    width: 90vw;
    height: 50vh;
  }

  .search-icon form input {
    width: 90%;
  }
}

.search-icon.show {
  opacity: 1;
  z-index: 10;
}

.search-icon form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
}

.search-icon form input {
  margin: 10px 0;
  padding: 10px 20px;
  border: 0;
  outline: 0;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-radius: 10px;
  transition: var(--transition);
  width: 80%;
  font-size: 20px;
  font-weight: 500;
}

.search-icon form input::placeholder {
  color: #1c1e23ba;
  opacity: 1;
  transition: var(--transition);
}

.search-icon form input:focus::placeholder {
  opacity: 0;
}

.search-icon form input:last-of-type {
  cursor: pointer;
  width: unset;
  font-weight: 700;
}

.search-icon form input:last-of-type:hover {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

.search-icon .close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
  font-weight: 700;
  border: 4px solid var(--primary-color);
  padding: 10px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: var(--transition);
}

.search-icon .close:hover {
  color: red;
  border-color: red;
}

.quart-products {
  padding: 20px 0 100px;
}

.quart-products .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.quart-products .container .box {
  text-align: center;
  position: relative;
}

.quart-products .container .box.special::before {
  content: "NEW";
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #4eb1a8;
  top: 20px;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
}

.quart-products .container .image {
  position: relative;
}

.quart-products .container .image.sale::before {
  content: "Sale";
  position: absolute;
  background-color: #ff4646;
  color: white;
  padding: 10px;
  border-radius: 5px;
  right: 0;
  top: 0;
  font-size: 20px;
  font-weight: 600;
}

.quart-products .container .box .image img {
  width: 100%;
}

.quart-products .container .box .text h2 {
  font-size: 22px;
}

.quart-products .container .box .text p {
  color: #555;
  font-size: 18px;
}

.quart-products .container .box .stars i {
  color: var(--secondary-color);
  font-size: 14px;
}

.description {
  padding: 20px 0;
}

.description p {
  color: #555;
  line-height: 1.8;
  font-weight: 500;
}

.description p span {
  color: var(--secondary-color);
}

.description .list {
  list-style: unset;
  margin: revert;
  padding: revert;
}

.description .list li {
  padding: 10px;
  font-weight: 600;
  font-size: 18px;
}

footer {
  padding: 20px 0;
  background-color: var(--primary-color);
}

footer .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}

footer .container .box {
  width: 200px;
}

footer .container .box:nth-of-type(1) {
  text-align: center;
}

footer .container .box:nth-of-type(1) .socials {
  text-align: center;
  width: 90px;
  margin: auto;
}

footer .container .box:nth-of-type(1) .socials a {
  margin: 5px;
  display: inline-block;
  transition: var(--transition);
}

footer .container .box:nth-of-type(1) .socials a:hover {
  color: var(--secondary-color);
}

footer .container .box h4 {
  color: var(--white);
  transition: var(--transition);
  font-size: 20px;
}

footer .container .box h4 i {
  display: none;
}

footer .container .box:hover h4 {
  color: #009688;
}

footer .container .box .list li a {
  padding: 5px 0;
  display: block;
  color: #ffffffa1;
  transition: var(--transition);
}

footer .container .box .list li a:hover {
  color: var(--white);
}

footer .copyright {
  color: white;
  text-align: center;
  padding-top: 15px;
  font-size: 22px;
  font-weight: 500;
}

@media (max-width: 1200px) {
  footer .container {
    gap: 50px;
  }

  footer .container .box:nth-of-type(2) {
    transform: translateY(140%);
    transition: var(--transition);
  }
}

@media (max-width: 992px) {
  footer .container {
    gap: 20px;
  }

  footer .container .box:nth-of-type(2) {
    transform: translateY(100%);
  }
}

@media (max-width: 768px) {
  footer .container {
    flex-direction: column;
  }

  footer .container .box {
    width: 100%;
    padding: 0 10px;
  }

  footer .container .box:not(:nth-of-type(1)) {
    height: 48.75px;
    overflow: hidden;
  }

  footer .container .box.extend {
    height: fit-content;
  }

  footer .container .box:nth-of-type(1) {
    margin: 0 auto 20px;
  }

  footer .container .box:nth-of-type(1) .image {
    text-align: center;
  }

  footer .container .box:nth-of-type(1) .socials {
    text-align: center;
    display: flex;
    width: fit-content;
  }

  footer .container .box:nth-of-type(1) .socials a {
    margin: 0px;
  }

  footer .container .box:nth-of-type(1) .socials i {
    color: var(--white);
    margin: 0 10px;
    cursor: pointer;
    transition: var(--transition);
  }

  footer .container .box:nth-of-type(1) .socials i:hover {
    color: var(--secondary-color);
  }

  footer .container .box:nth-of-type(2) {
    transform: translateY(0%);
  }

  footer .container .box h4 {
    margin-top: 0;
    font-size: 25px;
    color: var(--white);
    font-weight: 800;
    letter-spacing: 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: var(--transition);
  }

  footer .container .box h4 i {
    display: inline-block;
  }

  footer .container .box h4.clicked {
    color: #009688;
  }

  footer .container .box .list a {
    padding: 10px 20px;
    display: block;
    font-size: 20px;
    font-weight: 600;
    transition: var(--transition);
  }

  footer .container .box .list a:hover {
    color: var(--secondary-color);
  }

  footer .copyright {
    color: white;
    text-align: center;
    width: 100%;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 500;
  }
}

/* media-query */

@media (max-width: 576px) {
  .container {
    width: 100%;
  }
}

@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}

/* font-face */

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 200;
  src: url(../Montserrat-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  src: url(../Montserrat-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url(../Montserrat-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url(../Montserrat-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url(../Montserrat-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  src: url(../Montserrat-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url(../Montserrat-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  src: url(../Montserrat-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  src: url(../Montserrat-VariableFont_wght.ttf);
}
